<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>

    {% block body %} {%endblock%}

</body>
<footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.87/pdf.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/behaviour.js') }}"></script>
</footer>

</html>